[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
python-dotenv = "*"
mypy = "*"
flake8 = "*"
pytest-mock = "*"
click = "*"
pytest-dotenv = "*"
requests = "*"

[packages]
fastapi = "*"
pydantic = "*"
sqlalchemy = "*"
inject = "*"
dataclasses-json = "*"
psycopg2 = "*"
alembic = "*"
uvicorn = "*"
fastapi-camelcase = "*"

[requires]
python_version = "3.8"
